In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [13]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [14]:
df

             A         B
G1 1  0.072439 -0.232570
   2  0.715895  1.054615
   3 -0.409137 -1.122015
G2 1  1.212093 -0.807194
   2 -0.818029 -1.882496
   3 -0.332157 -1.619524

In [16]:
df.loc['G1'].loc[1]

A    0.072439
B   -0.232570
Name: 1, dtype: float64

In [18]:
df.index.names = ['Groups', 'Num']

In [19]:
df

                   A         B
Groups Num
G1     1    0.072439 -0.232570
       2    0.715895  1.054615
       3   -0.409137 -1.122015
G2     1    1.212093 -0.807194
       2   -0.818029 -1.882496
       3   -0.332157 -1.619524

In [20]:
df.loc['G2'].loc[2]['B']

-1.8824964412985108

In [21]:
df.xs('G1')

            A         B
Num
1    0.072439 -0.232570
2    0.715895  1.054615
3   -0.409137 -1.122015